.pros-cons {
  display: flex;
  flex-direction: column;

  & &__item:first-child {
    padding-bottom: 16px;
  }

  @include mq('desktop') {
    flex-direction: row;

    & &__item {
      width: 50%;
      padding-right: 16px;
      &:first-child {
        padding-bottom: 0;
      }
    }
  }
}
