.offers {
  & &__title {
    @extend .sections-heading;
  }

  & &__list-labels {
    display: flex;
    list-style: none;
  }
}

.list-offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & &__item {
    display: block;
    width: 100%;
    padding-bottom: 24px;
  }

  @include mq('tablet') {
    margin: 0 -10px;

    & &__item {
      width: 50%;
      padding: 0 10px 10px;
    }
  }

  @include mq('desktop') {
    & &__item {
      width: 25%;
    }
  }
}
