.call-action {
  display: flex;
  flex-direction: column;

  & &__title {
    @extend .sections-heading;
  }

  @include mq('desktop') {
    flex-direction: row;

    & &__title {
      width: 50%;
      margin-right: auto;
      padding-bottom: 0;
    }
  }
}
