$breakpoints: (
  "tablet":       768px,
  "desktop":      1248px,
);

$mobile-menu-height: 48px;
$tablet-menu-height: 80px;

$mobile-padding: 24px;
$tablet-padding: 36px;
$desktop-padding: 72px;

$color-purple: #5F62AC;
$color-yellow: #F0C630;
$color-purple-dark: #4A439D;
$color-gray: #c4c4c4;
$color-gray-light: #E5E5E5;
$color-gray-opacity: rgba(0, 0, 0, 0.5);
$color-opacity: rgba(255, 255, 255, 0.3);

